<div class="mt-4 row d-flex justify-content-center">
  <div class="col-md-5 col-md-offset-2">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>
</div>
