<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 p-2" id="<%= "#{dom_id(project)}_item" %>">
  <div class="shadow rounded overflow-hidden">
    <div class="px-4 pt-4 mt-2">
      <div class="d-flex justify-content-between p-1">
        <h5 class="mb-0"><%= link_to project.title, project_path(project) %></h5>
        <%= button_to t("helpers.submit.project.delete"), project_path(project), method: :delete,
          class: 'btn btn-sm p-3 bg-danger bg-opacity-10 ', form: { data: { turbo_confirm: t("controllers.project.notification.destroy") } } %>
      </div>
      <div class="p-1 border-top">
        <div class="d-flex justify-content-center">
          <%= link_to t("controllers.project.action.show"), project_path(project) %>
        </div>
      </div>
    </div>
  </div>
</div>
