<div class="d-flex justify-content-between">
  <h2><%=link_to project.title, edit_project_path(project) %></h2>
  <h3><%= button_to t("helpers.submit.project.delete"), project, method: :delete,
        class: 'btn btn-sm p-2 bg-danger bg-opacity-10 ' %>
  </h3>
</div>
<div id="<%="#{dom_id(project)}_tasks"%>" class="m-1 p-3">
  <%= render project.tasks %>
</div>
