<div class="mb-3">
  <%= link_to t("controllers.task.action.create"), new_task_path, data: {turbo_frame: "task_creating_form"},
  class: 'btn bg-warning bg-opacity-25' %>
  <div class=" mb-3">
    <%= turbo_frame_tag "task_creating_form" %>
  </div>
</div>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-2" id="<%= "#{dom_id(@project)}_item" %>" >
  <%= render 'project_tasks', project: @project, tasks: @tasks %>
</div>
