<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-2" id="<%= "#{dom_id(@project)}_item" %>">
  <div class=" mb-3">
    <%= turbo_frame_tag "#{dom_id(Task.new)}_form" %>
  </div>
  <%= turbo_frame_tag dom_id(@project) do %>
    <%= render 'show', project: @project %>
  <% end %>
</div>
