<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-2">
  <%= render 'form', tag: Tag.new %>
  <div class="d-flex flex-wrap col-12 mt-5 p-2" id="tags">
    <%= render @tags %>
  </div>
</div>
