/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .alert-danger {
    color: #842029;
    background-color: #f8d7da;
    position: relative;
    padding-right: 3rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
 
    border-color: #f5c2c7;
    border: 1px solid transparent;
    border-radius: .25rem;
 }
 
 .alert-notice {
    color: #0f5132;
    background: #d1e7dd;
    position: relative;
    padding-right: 3rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
 
    border-color: #badbcc;
    border: 1px solid transparent;
    border-radius: .25rem;
 }